body{
  display:flex;
  flex-direction: column;
  font-family: Arial !important;
  font-size: 12px !important;
  min-height: 100vh;
  color:beige !important;
  margin: 0;
  background-image: url("BackgroundPage.png");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

header {
    position: sticky;
    top: 0;
    z-index: 100;
}

/*Estilos de menu*/
.menu {
    list-style: none; 
    text-align: center;
    font-size: 13.5px;
    padding: 5px;
    background: black;
    display:block; 
    position: static; 
    flex-wrap: wrap;
    justify-content: center;
    margin-top: auto;
}

.menu li{
  display: inline-block;
}

.menu li:last-child {
    margin-right: 0;
}

.menu li a{
  text-decoration: none; 
  color: beige; 
  font-weight: bold;
  padding: 3px;
  display: block; 
  transition: background 0.3s ease;
}

.menu li:hover{ 
  background: #ef8354;
}

/*estilos para titulos por nivel*/
h1{
  font-weight: bold;
  text-align: center;
}

h2{
  font-weight: bold;
  text-align: center;
}

h3{
  font-weight: bold;
  text-align: center;
}

/*estilo para parrafos*/
p{
  font-size: 15px;
  text-align: justify;
}

/*estilo para enlaces*/
a{
  text-decoration: none;
  color: orangered;
}

/*media query para mejor visibilidad en dif dispositivos*/
@media (min-width: 600px){
   body{
     font-size: 16px;
     color: black;
   }
}

@media(min-width:900px){
  body{
    font-size: 14px;
    color:black;
  }
}

@media screen and (max-width: 600px) {
    body {
        font-size: 16px;
    }

    .menu {
        flex-direction: column;
        align-items: center;
    }

    .menu li {
        margin: 0;
        margin-bottom: 10px;
    }

    header {
        position: static;
    }
  
    section {
        padding: 10px;
        margin: 10px;
    }
  
    form {
        max-width: 100%;
    }
}


/*estilos de las secciones*/

section {
    padding: 20px;
    background: rgba(0, 0, 0, 0.5); 
    margin: 20px;
    margin-bottom: 8px;
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: justify;
}

/*estilo para pie de pagina*/
footer{
  background: black;
  padding: 20px;
  text-align: center;
  display: block; 
  margin-top: auto;
}

/*estilo de formulario*/
form{
  display:flex; 
  flex-direction: column; 
  max-width: 400px; 
  margin: auto;
}

form label{
  margin-bottom: 5px;
}

form input,
form textarea{
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: black;
  color:beige;
}

form button {
    background: black;
    color: beige;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background: #ef8354;
}

/*estilo de imagen*/
.mediaImg{
  display:block;
  margin: auto;
  height: 160px;
  width: 250px;
  border-radius: 8px;
}

/*estilo para inputs*/
#search-container{
  display:flex;
  align-items: center;
}

/*estilo de buscador*/
#search {
    padding: 5px;
    background: black;
    color: beige;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 5px;
    width: 45px;
    transition: width 0.4s ease-in-out;
    margin-bottom: 10px;
}

#search:focus {
    width: 90px;
 }

#search-icon {
    background: black;
    border: none;
    padding: 3px;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 5px;
}

#search-icon img {
    border-radius:8px;
    width: 10px; 
    height: 10px;
}

/* Estilos para los botones de scroll */
.scroll-buttons {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scroll-buttons button {
    margin: 10px;
    padding: 10px;
    background-color: black;
    color: beige;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.scroll-buttons button:hover {
    background-color: orangered;
}