/* Estilos generales */
body {
    margin: 0;
    width: 100%;
    font-family: Arial, sans-serif;
    background: white;
}

/* Navbar */
.navbar {
    display: block;
    position: fixed;
    width: 100%;
    max-width: 100%;
    height: auto;
    background-color: black;
    padding: 10px;
    z-index: 999;
}

.hamburger {
    width: 30px;
    height: 20px;
    cursor: pointer;
}

.line {
    width: 100%;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: black;
    overflow-x: hidden;
    transition: width 0.5s; /* Solo anima el ancho para una transición suave */
}

.sidebar.active {
    width: 250px; /* Aumenta el ancho cuando el menú está activo */
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li:first-child {
    margin-top: 150px; /* Ajusta el valor del margen superior */
}

.sidebar ul li {
    padding: 20px;
    text-align: center;
    margin-top: 10px;
    font-size: 1.2rem; /* Aumenta el tamaño del texto del menú */
}

.sidebar ul li a {
    color: beige;
    text-decoration: none;
}

.sidebar ul li a:hover {
    background-color: #ef8354;
}


.additional-info p {
    margin-bottom: 5px;
}

/* Contenedor principal */
.content-container {
    padding-top: 60px; /* Añadir espacio arriba para evitar que el nav cubra el contenido */
}

/* Footer section */
.footer-container {
    width: 100%;
    align-content: center;
    background-color: black;
    padding: 30px 0;
    text-align: center;
    color: white;
    margin-top: auto;
}

.footer-container .wrapper {
    margin-top: 30px;
    width: 100%;
    max-width: 800px;
}

.footer-columns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.footer-column {
    flex: 1;
    margin-right: 20px;
}

.footer-column h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: beige;
}

.tittle-media{
  color:beige;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 5px;
}

.footer-column li{
  font-size: 1.2rem;
  color: grey;
}

.footer-social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.social-media-icon {
    width: 40px;
    height: 40px;
    margin: 0 10px;
    border-radius: 8px;
    object-fit: contain;
}

.additional-info {
    text-align: center;
    font-size: 0.9rem;
    color: grey;
}

.additional-info p {
    margin-bottom: 5px;
}


/* Estilos de la nueva sección 1: Banner de contacto */
.banner-section {
    position: relative;
    z-index: -1;
    text-align: center; /* Centra el texto dentro del banner */
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.banner-text h2 {
    font-size: 2rem; /* Tamaño del texto del encabezado */
    margin-bottom: 10px;
    font-weight: 300;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.banner-text p {
    font-size: 1rem; /* Tamaño del texto del párrafo */
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.banner-section img {
    margin-top: -15px; /* Ajusta el espacio entre la imagen y el texto */
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 300px; /* Ajusta la altura máxima del banner según sea necesario */
}


/* Estilos de la nueva sección 2: Tres imágenes con texto */
.images-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
}

.image-container h3{
  font-size: 14px;
}

.image-container p{
  font-size: 12px;
}

.image-container {
    text-align: center;
}

.image-container img {
    width:50%;
    max-width: 250px;
    height: auto;
}

.map-section {
    padding: 100px 0; /* Aumenta el espacio vertical alrededor del mapa */
    text-align: center;
}

.map-container {
    width: 100%; /* Haz que el contenedor del mapa ocupe el 100% del ancho de la página */
    max-width: none; /* Elimina la restricción del ancho máximo */
    margin: 0 auto;
}

.map-container iframe {
    width: 100%; /* Haz que el mapa dentro del contenedor ocupe el 100% del ancho disponible */
    height: 600px; /* Ajusta la altura del mapa según sea necesario */
    border: 2px solid #ddd; /* Borde para el mapa */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

.contact-form-section {
    text-align: center;
    padding: 50px 0;
    background: #333;
    color:beige;
}

.contact-form-section h2 {
    margin-bottom: 2rem;
}

.contact-form-section p{
   font-size: 1.2rem;
   text-align: center;
   margin-left: 25px;
   margin-right: 25px;
}

.contact-form-section form {
    display: inline-block;
    text-align: left;
    padding: 0 20px; /* Agrega un espacio de relleno a los lados para evitar que el formulario toque los bordes */
    box-sizing: border-box; /* Asegura que el padding esté incluido en el ancho máximo */
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 350px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Asegura que el padding esté incluido en el ancho total */
}

.form-group textarea {
    resize: vertical;
    min-height: 100px;
}

button[type="submit"] {
    padding: 10px 40px;
    font-size: 16px;
    background-color: #ef8354;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin: 0 auto;
}

button[type="submit"]:hover {
    background-color: #F1C40F;
}